<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Video_belajar.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.js"></script>
  </head>

  <body style="display: flex">
    <div class="video-belajar video-belajar-group layout">
      <div class="video-belajar-flex layout">
        <h1 class="video-belajar-hero-title layout">
          Welcome to AMI Future School Platform!
        </h1>
        <div class="video-belajar-content-box layout">
          <div
            style="--src:url(/assets/528fde3040474f2f8a8c009579d3c08f.png)"
            class="video-belajar-image layout"
          ></div>
          <h5 class="video-belajar-username layout">Username</h5>
          <div class="video-belajar-rect layout"></div>
          <h5 class="video-belajar-password layout">Password</h5>
          <div class="video-belajar-rect layout"></div>
          <div class="video-belajar-group1 layout video-belajar-clickable">
            Masuk
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
